body {
  /* Sizing */
  height: 100vh;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;

  /* General Text */
  font-family: 'Oswald', 'Ashdon Sans Serif Font', Hevletica, Nimbus Sans, sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 1.8em;

  /* Ensure correct sapcing-- footer forced to bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigation Bar */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: #C8102E;
}

/* Footer */

.footer {
  padding: 20px;
  font-size: 18px;
}

.footerButtons {
  color: #C8102E;
  text-align: center;
  list-style: none;
  list-style-position: center;
  width: 100%;
  padding: 2px;
}

.footerButtons li {
  margin: 4px;
  display: inline-block;
}

.footerButtons li a {
  text-decoration: none;
  color: #C8102E;
}

/* General Body */

.main {
  padding: 16px;
  margin-top: 30px;
  text-align: left;
}

.main h1 {
  font-size: 80px;
  text-align: center;
  color: #C8102E;
}

.main h2 {
  color: #C8102E;
}

/* Leading Content */

.imageBlock {
  padding: 10px;
  text-align: center;
}

.imageBlock img {
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* Vertical Lists */

.verticalList {
  padding: 2px 4px;
  width: 95%;
  margin: 2px 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalList li {
  display: inline-block;
  background-color: white;
  color: gray;
  padding: 5px 10px;
  margin: 2px 0px;
  display: flex;
  justify-content: space-between;
}

.verticalList li strong {
  margin: 2px;
  color: #C8102E;
  margin-right: 20px;
  font-size: 20px;
}

.verticalList li button {
  border-width: 4px;
  min-height: 30px;
  border-color: #C8102E;
  border: solid;
  font-weight: bold;
  color: white;
  width: 100px;
}

.verticalList li button:hover {
  background-color: white;
  color: #C8102E;
}

/* Horizontal Lists */

.horizontalList {
  padding: 1px 4px;
  margin: 2px 2.5%;
  overflow: auto;
  width: fit-content;
  max-width: max-content;
  min-width: min-content;
}

.horizontalList li {
  display: block;
  float: left;
  background-color: #C8102E;
  color: gray;
  text-align: center;
  padding: 5px 5px;
  margin: 1px 1px;
  min-width: 220px;
  width: min-content;
  min-height: 380px;
  flex-direction: column;
}

.horizontalList li .block {
  background-color: white;
  min-height: 380px;
}

.horizontalList li img {
  margin: 2px;
  height: 200px;
  max-width: 200px;
  width: auto;
  object-fit: cover;
}

.horizontalList li strong {
  margin: 2px;
  color: #C8102E;
  font-size: 20px;
}

.horizontalList li input {
  width: 100%;
}

.horizontalList li button {
  border-width: 4px;
  min-height: 30px;
  border-color: #C8102E;
  border: solid;
  font-weight: bold;
  color: white;
  width: 100px;
}

.horizontalList li button:hover {
  background-color: white;
  color: #C8102E;
}

/* Buttons */

.majorButton {
  min-width: 200px;
  font-size: large;
  min-height: 60px;
  background-color: #C8102E;
  border-color: #C8102E;
  border: solid;
  border-width: 2px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
}

.majorButton:hover {
  background-color: white;
  border-color: #C8102E;
  border: solid;
  border-width: 2px;
  color: #C8102E;
}

/* Colors */

.cardinal-bg {
  background-color: #C8102E;
}

.gold-bg {
  background-color: #F1BE48;
}