body {
  font-family: 'Oswald', 'Ashdon Sans Serif Font', Hevletica, Nimbus Sans, sans-serif;
  height: 100%;
  margin: 0;
  margin-top: 0px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 1.8em;
  padding: 0px;
}

.container {
  width: 100%;
  margin: 0%;
  height: 100%;
  padding-top: 0px;
}

.header {
  color: #FFFFFF;
  padding: 0px;
  margin-top: -25px;
  height: 30px;
  line-height: 1.0em;
}

.footer {
  padding: 20px;
  font-size: 18px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  text-align: left;
  padding: 7px;
  color: #FFFFFF;
}

.navigation {
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  list-style: none;
  list-style-position: left;
  vertical-align: center;
  font-size: 23px;
  width: 100%;
  padding: 0px;
  padding-top: 15px;

  height: 100%;
}

a:hover {
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

li {
  display: inline-block;
}

.content {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.map {
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.footerButtons {
  margin: 2px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  list-style: none;
  list-style-position: center;
  width: 100%;
  padding: 2px;
}

.cardinal {
  background-color: #C8102E;
}

.gold {
  color: #F1BE48;
}